@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@400&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
  
  background: url('bg-2.jpg');
  background-size:contain;
  background-position:top;
  background: cover;
  
  background-attachment: fixed;
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --default-size-body: Roboto;
  --font-inter: Inter;
  --font-poppins: Poppins;
  --font-pt-sans-caption: "PT Sans Caption";

  /* font sizes */
  --font-size-sm: 14px;
  --font-size-sm-7: 13.7px;
  --font-size-lg: 18px;
  --font-size-base: 16px;
  --font-size-29xl: 48px;
  --font-size-45xl: 64px;
  --default-size-body-size: 17px;

  

  --color-white: #fff;
  --color-gray-100: #131313;
  --system-materials-sm-l-thick: rgba(250, 250, 250, 0.93);
  --color-whitesmoke: #f3f3f3;
  --label-colors-lc-l-secondary: rgba(60, 60, 67, 0.6);
  --color-aquamarine: rgba(62, 243, 200, 0.6);
  --color-royalblue: #0a7aff;

  /* Paddings */
  --padding-1111xl: 1130px;
  --padding-2xl: 21px;
  --padding-xs: 12px;
  --padding-9xl: 28px;
  --padding-5xs: 8px;

  /* Border radiuses */
  --br-9xs: 4px;
  --br-8xl: 27px;
  --br-8xs: 5px;
  --br-31xl: 50px;
}